/* 改变主题色变量 */
$--color-primary: #E99A13;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-form-item__label{
  width: 100px !important;
}
.el-textarea,.el-select,.el-input{
  width: 90% !important;
}